@model ViewTableroUpdate

@{
    ViewData["Title"] = "Modificar tablero";
}

<div class="text-center">
    <h1 class="display-4">Modificar</h1>
    <form class="m-auto w-50" asp-controller="Tablero" asp-action="UpdateTablero" method="post" class="w-50 m-auto">
        <fieldset>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Id" hidden disabled>
                <input type="text" asp-for="@Model.Nombre" class="form-control" id="floatingInput">
                <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="@Model.Descripcion" class="form-control" id="floatingInput">
                <label for="floatingInput">Descripcion</label>
            </div>
            <div class="mb-3">
                <select class="form-select" asp-for="@Model.IdUsuarioPropietario">
                    @foreach(var u in Model.Usuarios) {
                        if (u.Id == 0) {
                            <option value="@u.Id" selected>Sin propietario</option>
                        } else {
                            <option value="@u.Id" selected>@u.NombreDeUsuario</option>
                        }
                    }
                </select>
            </div>
            <button type="submit" class = "btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Modificar</button>
        </fieldset>
    </form>
</div>