@model Tarea

@{
    ViewData["Title"] = "Modificar tarea";
}

<div class="text-center">
    <h1 class="display-4">Modificar</h1>
    <form asp-controller="Tarea" asp-action="UpdateTarea" method="post" class="w-50 m-auto">
        <fieldset>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Id" hidden disabled>
                <input asp-for="@Model.IdTablero" hidden disabled>
                <input asp-for="@Model.IdUsuarioAsignado" hidden disabled>
                <input type="text" asp-for="@Model.Nombre" class="form-control" id="floatingInput" disabled>
                <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="@Model.Descripcion" class="form-control" id="floatingInput" disabled>
                <label for="floatingInput">Descripcion</label>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Color">Color</label>
                <input type="color" asp-for="@Model.Color" class="form-control" id="color" name="color" value="@Model.Color">
                <input type="text" asp-for="@Model.Color" class="form-control" id="stringColor" name="color" hidden>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Estado">Estado: </label>
                <select class="form-select" asp-for="@Model.Estado">
                    <option value="0" selected>Ideas</option>
                    <option value="1">ToDo</option>
                    <option value="2">Doing</option>
                    <option value="3">Review</option>
                    <option value="4">Done</option>
                </select>
            </div>
            <button type="submit" class = "btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Modificar</button>
        </fieldset>
    </form>
</div>
<script>
    function GuardarColor() {
        var color = document.getElementById("color");
        var stringColor = document.getElementById("stringColor");
        stringColor.value = color.value;
    }
</script>